# Render
DB_HOST=bfc*******g-mysql.services.clever-cloud.com
DB_USER=uk*****xo
DB_PASSWORD=zx*****0C
DB_NAME=bfc*******g
DB_PORT=3***


# Localhost
# DB_HOST=localhost
# DB_USER=root
# DB_PASSWORD=****
# DB_NAME=bfc*******g
# DB_PORT=3***
# NODE_ENV=development
